@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.cdnfonts.com/css/scripto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #d3d6db;
    justify-content: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: #303841;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 25px;
}

.header a {
    text-decoration: none;
    color: #be3144;
    font-family: 'Scripto', sans-serif;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 90vw;
    height: 80vh;
    padding: 10px;
    border-radius: 15px;
}

.main-container h3{
    margin: 10px;
}

.card {
    background-color: #303841;
    width: 25vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 1vw;
    border-radius: 10px;
}

.container {
    padding: 2px 16px;
    background-color: #e7ebf0;
}

button {
    background-color: #be3144;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 2px #888888;
    color: white;
  }
  
  button:hover {
    background-color: #a32838;
    color: white;
  }
  
  button:active {
    background-color: #a32838;
    box-shadow: none;
    transform: translateY(2px);
    color: white;
}