@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #d3d6db;
}

.header{
    background-color: #303841;
    display: flex;
    padding: 10px;
    justify-content: center;
    color: #be3144;
    font-size: 25px;
}

.coluna-esquerda{
    columns: left;
    background-color: #c0c2c7;
    width: 200px;
    height: 80vh;
    display: flex;
    padding: 10px;
    margin-top: 20px;
}